import { styles } from './styles'
import { {{pascalCase name}}Props } from './types'

export default function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  const {} = props
  return (
    <div className={styles.wrapper}>
      <h1 className={styles.title}>{{pascalCase name}}</h1>
    </div>
  )
}
